.register-container {
    max-width: 400px;
    margin: 65px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   
   
  }
  
  .register-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: maroon;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .register-button {
    width: 100%;
    padding: 10px 16px;
    background-color: maroon;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .register-button:hover {
    background-color: darkslategray;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
  }
  